<h2 class="title is-2">Sign up</h2>

<div class="columns is-mobile">
  <div class="column is-one-third">
    <%= form_with model: @user, url: user_registration_path, class: 'form registration-main', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>

      <div class="field">
        <%= f.label :UserName, class: "label" %>
        <div class="control">
          <%= f.text_field :username, class: "input is-primary", id: "user_UserName", autofocus: true, placeholder: "ex/ tama-plaza" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :Email, class: "label" %>
        <div class="control">
          <%= f.email_field :email, class: "input is-primary", id: "user_Email", autocomplete: "email" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :Password, class: "label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <div class="control">
          <%= f.password_field :password, class: "input is-primary", id: "user_Password", autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :Password_confirmation, class: "label" %>
        <div class="control">
          <%= f.password_field :password_confirmation, class: "input is-primary", id: "user_Password_confirmation", autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :FullName, class: "label" %>
        <div class="control">
          <div class="field">
            <%= f.label :LastName, class: "label" %>
            <%= f.text_field :last_name, class: "input is-primary", id: "user_LastName", placeholder: "ex/ kato" %>
        <div class="control">
          <div class="field">
              <%= f.label :FirstName, class: "label" %>
              <%= f.text_field :first_name, class: "input is-primary", id: "user_FirstName", placeholder: "ex/ riku" %>
        </div>
      </div>
      
      <div class="field">
        <div class="control actions">
          <%= f.submit "Next", class: "button is-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
